[submodule "libs/team-gm"]
	path = libs/team-gm
	url = git@github.com:bsoohyuncd/team-gm-local-fix.git
[submodule "libs/kmer_fast_align"]
	path = libs/kmer_fast_align
	url = git@github.com:CSSB-SNU/KmerFastAlign.git
[submodule "libs/datacooker"]
	path = libs/datacooker
	url = git@github.com:CSSB-SNU/DataCooker.git
