[submodule "team-gm"]
	path = libs/team-gm
	url = git@github.com:CSSB-SNU/team-gm.git
	branch = exp/miniworld
[submodule "libs/structcooker"]
	path = libs/structcooker
	url = git@github.com:SanggeunParrk/StructCooker.git
